input, textarea {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
}

input[type="submit"] {
    width: auto;
}

textarea {
    height: 170px;
}

input:focus, textarea:focus {
    outline: 1px solid #777;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: #aaaaaa;
}

.input-control {
    position: relative;
}